



p{
    border: 2px black solid;
    width: 200px;
    margin: 50px;
    direction: ltr;
    unicode-bidi: bidi-override;
    vertical-align: bottom;
    text-transform: capitalize;
    text-indent: 25px;
    letter-spacing: 10px;
    line-height: 9.0;
    white-space: nowrap;
}
a{
    text-decoration: none;
    color: black;
    text-transform: lowercase;
}
h4{border: 2px black solid;
    width: 200px;
    margin: 50px;
    direction: ltr;
    unicode-bidi: bidi-override;
    vertical-align: bottom;
    text-transform: capitalize;
    text-indent: 25px;
    letter-spacing: -2px ;
    line-height: 0.2;
    white-space: nowrap;
}
